# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Directories for test coverage
coverage/

# Directories for temporary items
tmp/
temp/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# System files
.DS_Store
Thumbs.db

# EJS template files
views/*.ejs~

# Environment variables file
.env
